.logoWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 30rem;
}
.logonametext{
    font-size: 3rem;
   
}
@media (max-width: 400px) {
    .logonametext {
      width: 50%;
      text-align: left;
    }
  }